body{

}
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
.image{
  width:70%;
}
.pro-img{
  width:100%;
}
.mymargin{
  margin-top: 50px;
}
.mymarginbot{
  margin-bottom: 50px;
}
h5{
  margin-left: -40px;
  text-align: center;
}
.bg-grey{
  background-color: #f6f6f6;
}
.mypaddingbot{
  padding-bottom: 50px;
}
.footer-top{
  height: 200px;
  background-color: #337ab7;
  margin: 0 auto;
  width: 100%;
}
.footer-bot{
  border-top: 3px solid #9c9c9c;
  height: 50px;
  background-color: #337ab7;
  margin: 0 auto;
  width: 100%;
}

/*

I will show you how to change a height of a standard Bootstrap navbar.

*/

.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
  color: #fff;
  background-color: #337ab7;
}


/* File Upload */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}
/* File Upload Style*/
 .file_button_container,
 .file_button_container input {
      height: 47px;
      width: 263px;
  }

  .file_button_container {
      background: transparent url(http://i.stack.imgur.com/BT5AB.png) left top no-repeat;
  }

  .file_button_container input {
      opacity: 0;
  }
